body{
  font-family: Arial;
  margin-top: 0px;
  margin-bottom: 0px;
}
.send-button{
  background-color: rgb(20, 118, 216);
  color: aliceblue;
  padding: 12px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}
.input{
    padding: 12px 15px;
    border-radius: 10px;
    border-width: 1px;
    font-size: 15px;

    flex-grow: 1;
}
.input-container{
    display: flex;
    max-width: 600px;
    margin-bottom: 30px;
    
}
.app-container{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.chat-user{
  display: flex;
  justify-content: end;
  align-items: start;
}
.chat-robot{
  display: flex;
  justify-content: left;
  align-items: start;
}
.message{
  background-color: rgb(238,238,238);
  padding: 15px 20px;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  max-width: 300px;
}
.chat-profile{
  width: 45px;
}
.chat-container{
  flex-grow: 1;
  margin-top: 20px;
  overflow: scroll;
  scrollbar-width: none;
}